NODE_ENV=development # development | production
ROOT_DIR="" # Root directory for the filesystem. Fill in any directory path by your needs so the filesystem works correctly locally and make sure NodeJS has access in this directory.
LOG_DIR="" # Log directory
DATABASE_PATH="" # Path to DB file
PORT=5500 # Backend API port. For local development it is set to 5500 by default. You can update the port in /frontend/vite.config.ts